DATABASE_URL=postgresql+asyncpg://postgres:postgres@db:5432/mlcbakery
DATABASE_TEST_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/mlcbakery_test
MLCBAKERY_API_BASE_URL=http://bakery.localhost
ADMIN_AUTH_TOKEN=this-is-a-test-auth-token
JWT_ISSUER_JWKS_URL=https://driven-oarfish-58.clerk.accounts.dev/.well-known/jwks.json
OTEL_ENABLED=false
TYPESENSE_HOST=search
TYPESENSE_PORT=8108
TYPESENSE_PROTOCOL=http
TYPESENSE_API_KEY=thisisatestkey
TYPESENSE_COLLECTION_NAME=mlcbakery_datasets