DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/mlcbakery
MLCBAKERY_API_BASE_URL=http://api:8000
ADMIN_AUTH_TOKEN=XXXX
TYPESENSE_HOST=search
TYPESENSE_PORT=8108
TYPESENSE_PROTOCOL=http
TYPESENSE_API_KEY=thisisatestkey
TYPESENSE_COLLECTION_NAME=mlcbakery_datasets
# Replace 1000 with the output of `id -u` on your host machine
UID=1001
# Replace 1000 with the output of `id -g` on your host machine
GID=1002